 .dashboard-body{
 background-image: url('/static/app/deloitteV4/E8Background.jpg');
                        }


/* Customize the label (the option_container) */
.option_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.option_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.option_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.option_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.option_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.option_container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}


span.question_number{display:table-cell;width:30px;font-size: 18px; margin: 0px 0px 0px 5px;}
span.question_title{display:table-cell;font-size:18px;min-width: 200px;}
div.question_header{ display:table-row; width: 100%;border-bottom: 1px solid #d1d1d1;}
div.question_options{display:table-cell; vertical-align:top; margin: 15px 0px 0px 30px; padding: 15px 0px 0px 40px;width:40%;}
label.option_container[data-value=""]{display:none!important;}


div.question_narrative{font-size: 14px; color: #666666;margin: 10px 5px 10px 30px;}
div.question_comment {display:table-cell; vertical-align:top; border-left: 5px solid #d1d1d1; margin-left:30px; padding: 15px 30px 15px 15px; width:60%;}
div.question_comment textarea{width:100%;height:100%;}
div.question_option_table{display:table; width:100%;height:fit-content;}
div.question_option_row{display:table-row;width:100%;height:fit-content;margin-left:20px;}

div.question_option_table.has_comment_false {text-align:center}
div.question_option_table.has_comment_false div.question_comment {display:none!important;}
div.question_option_table.has_comment_false label.option_container {display:inline-block; margin: 0px 50px 0px 20px!important;}


div.question_root_container{width: 700px;
    border: 1px solid #dadada;
    border-radius: 15px;
    padding: 15px;
	margin: 0px auto 20px auto;
}

div.question_root_container:hover{ background-image: linear-gradient(225deg, #2196f30a, transparent);}

.error{color:red;}

/* -------------------- Radio Buttons ----------------------------*/
/* Customize the label (the option_container) */
.option_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 4px;
}

/* Hide the browser's default radio button */
.option_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.option_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.option_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.option_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.option_container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
